<div class="card">
  <div class="row">
    <div class="col">
      <div class="p-5">
        <p class="h6">Signup</p>

        <h4 class="display-6 my-4">
          Welcome to <br /><span class="text-success">Not Jus' A Salad</span>
        </h4>
        <div class="login-page">
          <form class="login-form" #signupForm="ngForm" (ngSubmit)="submitForm(signupForm)" id="formDiv">
            <label for="email" class="form-label">Full Name</label>
            <input type="text" name="name" id="name" class="form-control" style="height: 60px"
              placeholder="Enter Full Name" name="name" #name="ngModel" [(ngModel)]="customerDetailsArr.name"
              required />
            <span class="small text-danger" *ngIf="name.invalid && name.touched">*Fullname is required</span>
            <br />

            <label for="mobile" class="form-label">Primary Mobile Number</label>
            <input type="tel" name="mobile" id="mobile" class="form-control" style="height: 60px"
              (keypress)="numberOnly($event)" placeholder="Enter Mobile Number" name="mobile" #mobile="ngModel"
              [(ngModel)]="customerDetailsArr.mobile" required />

            <span class="small text-danger" *ngIf="mobile.invalid && mobile.touched">*Primary number is required</span>

            <br />
            <label for="secondary_modile" class="form-label">Secondary Mobile Number</label>
            <input type="tel" name="secondary_mobile" id="secondary_mobile" class="form-control"
              (keypress)="numberOnly($event)" style="height: 60px" placeholder="Enter Secondary Mobile Number"
              name="secondary_mobile" #secondary_mobile="ngModel" [(ngModel)]="customerDetailsArr.secondary_mobile" />
            <br />
            <label for="address" class="form-label">Address </label>
            <textarea cols="30" rows="4" class="form-control" placeholder="Address" name="address1" #address1="ngModel"
              [(ngModel)]="customerDetailsArr.address1" required></textarea>

            <span class="small text-danger" *ngIf="address1.invalid && address1.touched">*Address is required</span>
            <br />

            <label for="email" class="form-label">Email Address</label>
            <input type="email" name="email" id="email" class="form-control" style="height: 60px"
              placeholder="Enter Email Address" name="email" #email="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
              [(ngModel)]="customerDetailsArr.email" required />

            <span class="small text-danger" *ngIf="email.invalid && email.touched">*Email is required</span>

            <br />
            <label for="password" class="form-label">Password</label>

            <div class="input-group">
              <input [type]="this.getType()" name="password" id="password" class="form-control" style="height: 60px"
                placeholder="Enter Password" name="password" #password="ngModel"
                [(ngModel)]="customerDetailsArr.password" required />
              <label class="labels input-group-text">
                <i [class]="getName()" color="color2" (click)="toggleTextPassword()" item-right></i>
              </label>
            </div>
            <span class="small text-danger" *ngIf="password.invalid && password.touched">*Password is required</span>

            <br />
            <label for="password" class="form-label">Confirm Password</label>

            <div class="input-group">
              <input [type]="this.getType()" id="confirm_password" class="form-control" style="height: 60px"
                placeholder="Confirm Password" name="confirm_password" #confirm_password="ngModel"
                [(ngModel)]="customerDetailsArr.confirm_password" required />
              <label class="labels input-group-text">
                <i [class]="getName()" color="color2" (click)="toggleTextPassword()" item-right></i>
              </label>
            </div>
            <span class="small text-danger" *ngIf="confirm_password.invalid && confirm_password.touched">*Please confirm
              your password</span>

            <span class="small text-danger" *ngIf="
                customerDetailsArr.confirm_password !==
                customerDetailsArr.password
              ">*password mismatch</span>

            <br />
            <button class="btn btn-primary my-3" [disabled]="
                customerDetailsArr.confirm_password !==
                  customerDetailsArr.password || !signupForm.form.valid
              ">
              Sign Up
            </button>

            <p class="message">
              Already a member? <a routerLink="/login">Login</a>
            </p>
          </form>


          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br />
                <h5>
                  Your <strong class="text-success">account</strong> created.
                  Look for the verification email in your inbox and click the
                  link in that email to get started. Thank you for joining with
                  us!<br>
                </h5>
                <h1> If you do not see it in your inbox, Please do check your spam.</h1>
                <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/home']">Back to
                  home</a>
                <br />
              </div>
            </div>
          </div>
        </div>


        <div class="col bg-success d-none d-md-block"></div>
      </div>
      <div class="col-lg-6 bg-success .d-none .d-lg-block .d-xl-none"></div>
    </div>
  </div>
</div>