<div class="row landing">
  <div class="col-lg-6">
    <div class="details">
      <h2 class="display-4">
        DOOR TO DOOR <span class="text-success">GROCERY DELIVERY</span>
      </h2>
      <p>
        Put together that grocery-list, because Online Shopping just got easier!
      </p>

      <button type="button" routerLink="/groceries">
        Shop Now<img src="../../../assets/img/arrow.png" />
      </button>
    </div>
  </div>
  <div class="col-lg-6">
    <img
      src="../../../assets/img/grocery_landing.png"
      alt=""
      class="img-fluid"
    />
  </div>
</div>
