<div class="card">



    <div class="row">


        <div class="col" id="resetDiv">
            <div class="p-5">
                <p class="h6">Reset</p>

                <h4 class="display-6 my-4">Link will be<br /><span class="text-success">Emailed</span> </h4>
                <div class="login-page">
                    <form class="login-form" #fpForm="ngForm" (ngSubmit)="submitForm(fpForm)" id="formDiv">

                        <label for="email" class="form-label">Email address</label>
                        <input type="email" name="email" id="email" class="form-control" style="height: 60px;"
                            placeholder="Enter Email Address" name="email" #email="ngModel"
                            [(ngModel)]="customerDetailsArr.email" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" required>

                        <span class="small text-danger" *ngIf="(email.invalid && email.touched )">*invalid</span>
                        <br>
                        <button class="btn btn-primary my-3" [disabled]="!(fpForm.form.valid)">Submit</button>
                        <p class="message">Remember your password? <a routerLink="/login">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col bg-success contact__msg" style="display: none">
            <div class="text-center card-body ">
                <div class="col-lg-12">
                    <div class="alert alert-success " role="alert">
                        <br>
                        <h5> Look for the reset password link in your inbox and click
                            the link to complete reset password.<br />
                        </h5>
                        <h1> If you do not see it in your inbox, Please do check your spam.</h1>
                        <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                            [routerLink]="['/home']">Back
                            to
                            home</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>