<div class="row landing">
  <div class="col-lg-6">
    <div class="">
      <h2 class="display-4">Get gourmet-healthy<br />Meals</h2>
      <h3 class="lead">Super Food | Super Nutritious</h3>
      <!-- <p>
        Served with
        <span>Black Bean Quinoa, Steamed Veggies and a Toasted Walnut Salad</span>
      </p>
      <h4>$1400</h4> -->
      <br>
      <button type="button" routerLink="/meals">
        Order Now<img src="../../../assets/img/arrow.png" />
      </button>
    </div>
  </div>
  <div class="col-lg-6">
    <img src="../../../assets/img/landing_image.png" alt="" class="img-fluid" />
  </div>
</div>